<!--<div class="content__title">
  <h1>布局设置</h1>
</div>-->
<pro-header [title]=""></pro-header>
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="8">
    <nz-card>
      <ng-template #title>模版选择</ng-template>
      <ng-template #body>
        <form nz-form [formGroup]="_formGroup" (ngSubmit)="_submitForm($event)">
          <div nz-form-item nz-row>
           <!-- <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label [attr.for]="'功能模块'">功能模块</label>
            </div>-->
            <div nz-form-control nz-col [nzSm]="24" [nzXs]="24">
              <nz-cascader
                [ngModelOptions]="{standalone: true}"
                [class.class123]="true"
                [nzOptions]="_funcOptions"
                [(ngModel)]="_funcValue"
                (nzChange)="_changeModuleValue($event)"
                (nzSelectionChange)="_onSelectionChange($event)"
                [nzPlaceHolder]="'请选择功能模块'"
                [nzExpandTrigger]="'hover'">
              </nz-cascader>
            </div>
          </div>
          <div nz-form-item nz-row>
            <!--<div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label [attr.for]="'布局模版'">布局模版</label>
            </div>-->
            <div nz-form-control nz-col [nzSm]="24" [nzXs]="24">
              <nz-select [(ngModel)]="_layoutValue"
                         (ngModelChange)="_changeLayout($event)"
                         [nzPlaceHolder]="'请选择布局类型'"
                         [ngModelOptions]="{standalone: true}">
                <nz-option
                  *ngFor="let option of _layoutOptions"
                  [nzLabel]="option.label"
                  [nzValue]="option">
                </nz-option>
              </nz-select>
            </div>
          </div>
          <div  nz-form-item nz-row>
           <!-- <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label [attr.for]="'配置名称'">配置名称</label>
            </div>-->
            <div nz-form-control nz-col [nzSm]="24" [nzXs]="24">
              <nz-input [(ngModel)]="_configName"
                        [nzPlaceHolder]="'请输入配置名称'"
                        [ngModelOptions]="{standalone: true}"></nz-input>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-control nz-col [nzSm]="20" [nzXs]="24">
              <nz-tabset *ngIf="_editorConfig" [nzTabPosition]="'left'" [nzType]="'line'">
                <nz-tab *ngFor="let tab of _editorConfig">
                  <ng-template #nzTabHeading>
                    {{tab.title}}
                  </ng-template>
                  <ng-container
                    *ngFor="let field of tab.data"
                    cnFormResolverDirective
                    [config]="field"
                    [formGroup]="_formGroup"
                  ></ng-container>
                </nz-tab>
              </nz-tabset>
            </div>
          </div>
          <div nz-form-item nz-row [formGroup]="_formGroup">
            <div nz-col [nzOffset]="6" [nzSpan]="14" nz-form-control>
              <button nz-button [nzType]="'primary'" [nzSize]="'default'">保存</button>
              <button nz-button [nzSize]="'default'" (click)="resetForm($event)">取消</button>
            </div>
          </div>
        </form>
      </ng-template>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="16">
    <nz-card>
      <ng-template #title>模版预览</ng-template>
      <ng-template #body>
        <cn-layout-resolver *ngIf="_layoutValue" [config]="_layoutValue.value"></cn-layout-resolver>
      </ng-template>
    </nz-card>
  </div>
</div>
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="24">
    <nz-card>
      <ng-template #title>
        {{_selectedModuleText}}布局列表
      </ng-template>
      <ng-template #body>
        <bsn-data-table [config]="_tableHeader" [dataList]="_tableDataSource"></bsn-data-table>
      </ng-template>
    </nz-card>

  </div>
</div>
