<ng-container *ngIf="config.rows">
  <div nz-row [nzGutter]="8" *ngFor="let row of config.rows">
    <div nz-col *ngFor="let c of row.row.cols" [nzSpan]="c.span" [nzSm]="c.size.nzSm" [nzXs]="c.size.nzXs" [nzMd]="c.size.nzMd"
      [nzLg]="c.size.nzLg" [nzXl]="c.size.nzXl">
      <cn-layout-setting-resolver [config]="c"></cn-layout-setting-resolver>
    </div>
  </div>
</ng-container>

<nz-card *ngIf="config.tabs">
  <ng-template #body>
    <nz-tabset [nzType]="'line'">
      <nz-tab *ngFor="let tab of config.tabs">
        <ng-template #nzTabHeading>
          <i [ngClass]="tab.icon"></i>
          {{tab.title}}
        </ng-template>
        <ng-container *ngFor="let cfg of tab.viewCfg">
          <cn-layout-resolver *ngIf="cfg.tabs" [config]="cfg"></cn-layout-resolver>
          <cn-component-setting-resolver *ngIf="!cfg.tabs" [config]="cfg"></cn-component-setting-resolver>
        </ng-container>
        <!-- <cn-layout-resolver [config]="tab.viewCfg"></cn-layout-resolver>-->
      </nz-tab>
    </nz-tabset>
  </ng-template>
</nz-card>



<nz-popover  [nzTitle]="'组件选择'" [nzPlacement]="'top'" [nzTrigger]="'click'">
  <ng-template #nzTemplate>
    <cn-context-menu [menuConfig]="menuConfig" (selectedMenu)="getMenuData($event)"></cn-context-menu>
  </ng-template>
  <nz-card nz-popover *ngIf="!config.rows && !config.tabs">
    <ng-template #title>{{config.title}}</ng-template>
    <ng-template #body>
      <cn-component-setting-resolver  [config]="config"></cn-component-setting-resolver>
    </ng-template>
  </nz-card>
</nz-popover>




