<!--<div class="content__title">
    <h1>Page Name</h1>
</div>-->
<pro-header [title]=""></pro-header>
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="24">
    <nz-card>
      <ng-template #title>功能模块</ng-template>
      <ng-template #body>
        <form nz-form [nzLayout]="'inline'">
          <div nz-form-item nz-row>
            <div nz-form-label>
              <label [attr.for]="'功能模块'">功能模块</label>
            </div>
            <div nz-form-control>
              <nz-cascader
                [ngModelOptions]="{standalone: true}"
                [class.class123]="true"
                [nzOptions]="_funcOptions"
                [(ngModel)]="_funcValue"
                (nzChange)="_changeModuleValue($event)"
                (nzSelectionChange)="_onSelectionChange($event)"
                [nzPlaceHolder]="'请选择功能模块'"
                (nzLoad)="_loadLayoutData($event)"
                [nzExpandTrigger]="'hover'">
              </nz-cascader>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-col nz-form-control>
              <div nz-form-label>
                <label [attr.for]="'布局'">模块布局列表</label>
              </div>
              <nz-select style="width:120px;"
                [(ngModel)]="_layoutNameValue"
                (ngModelChange)="_changeLayoutName($event)"
                [nzPlaceHolder]="'选择布局名称'"
                [ngModelOptions]="{standalone: true}">
                <nz-option
                  *ngFor="let option of _layoutList"
                  [nzLabel]="option.label"
                  [nzValue]="option.value">
                </nz-option>
              </nz-select>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-col nz-form-control>
              <button nz-button [nzType]="'primary'" [nzSize]="'default'">保存</button>
              <button nz-button [nzSize]="'default'" (click)="resetForm($event)">取消</button>
            </div>
          </div>
        </form>
      </ng-template>
    </nz-card>
  </div>
</div>
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="24">
    <nz-card>
      <ng-template #title>设置组件</ng-template>
      <ng-template #body>
        <cn-layout-setting-resolver *ngIf="_layoutConfig" [layoutId]="_layoutId"  [config]="_layoutConfig"></cn-layout-setting-resolver>
      </ng-template>
    </nz-card>
  </div>
</div>
