<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card>
            <div class="table-operations">
                <button nz-button (click)="addRow()" class="editable-add-btn">新增</button>
                <button nz-button (click)="updateRow()" class="editable-add-btn">修改</button>
                <button nz-button (click)="deleteRow()" class="editable-add-btn">删除</button>
                <button nz-button (click)="saveRow()" class="editable-add-btn">保存</button>
                <button nz-button (click)="cancelRow()" class="editable-add-btn">取消</button>
            </div>
            <!-- [nzAjaxData]="list"   [nzLoading]="loading"-->
            <nz-table #nzTable [nzDataSource]="list" [nzShowSizeChanger]="true" [nzTotal]="total" [(nzPageIndex)]="pi" (nzPageIndexChange)="load()"
                [(nzPageSize)]="ps" (nzPageSizeChange)="load()">
                <thead nz-thead>
                    <tr>
                        <th nz-th [nzCheckbox]="true">
                            <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll()">
                            </label>
                        </th>
                        <ng-container *ngFor="let col of bs">
                            <th nz-th nzShowSort *ngIf="!col.hidden">
                                <span>{{col.title}}</span>
                                <nz-table-sort [(nzValue)]="sortMap[col.field]" (nzValueChange)="sort(col.field,$event)"></nz-table-sort>
                            </th>
                        </ng-container>

                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data" (click)="selectRow(data,editCache[data.key].data)" ng-style="data.style">
                        <td nz-td [nzCheckbox]="true">
                            <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="refChecked()">
                            </label>
                        </td>
                        <ng-container *ngFor="let col of bs">
                            <td nz-td *ngIf="!col.hidden">
                                <ng-container *ngIf="col.editor">
                                    <div *ngIf="!editCache[data.key].edit">
                                        {{data[col.field]}}
                                    </div>
                                    <ng-container CnGridEditorDirective *ngIf="editCache[data.key].edit" [(ngModel)]="editCache[data.key].data[col.field]" [config]="col.editor.options"
                                        [value]="editCache[data.key].data[col.field]" (updateValue)="userNameChange($event)">
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="!col.editor">
                                    {{data[col.field]}}
                                </ng-container>

                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>
<div bsn-data-table></div>