<div class="table-operations" *ngIf="config.toolbar">
    <ng-container *ngFor="let bar of config.toolbar">
        <button nz-button (click)="execFun(bar.name)" class="editable-add-btn">{{bar.text}}</button>
    </ng-container>
</div>
<nz-table #nzTable [nzDataSource]="dataList" [nzShowSizeChanger]="true" [nzTotal]="total" [(nzPageIndex)]="pi" (nzPageIndexChange)="load()"
    [(nzPageSize)]="ps" (nzPageSizeChange)="load()" [nzShowTotal]="config.nzShowTotal" nzBordered>
    <thead nz-thead>
        <tr>
            <th nz-th [nzCheckbox]="true">
                <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll()">
                </label>
            </th>
            <ng-container *ngFor="let col of config.columns">
                <th nz-th nzShowSort *ngIf="!col.hidden">
                    <span>{{col.title}}</span>
                    <nz-table-sort [(nzValue)]="sortMap[col.field]" (nzValueChange)="sort(col.field,$event)"></nz-table-sort>
                </th>
            </ng-container>

        </tr>
    </thead>
    <tbody nz-tbody>
        <ng-container *ngFor="let data of nzTable.data">
            <tr nz-tbody-tr (click)="selectRow(data,editCache[data.key].data)" [ngStyle]="{'background-color':data.selected?'rgb(236, 246, 253)':''}">
                <td nz-td [nzCheckbox]="true">
                    <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="refChecked()">
                    </label>
                </td>
                <ng-container *ngFor="let col of config.columns">
                    <td nz-td *ngIf="!col.hidden">
                        <ng-container *ngIf="col.editor">
                            <div *ngIf="!editCache[data.key].edit">
                                {{data[col.field]}}
                            </div>
                            <ng-container CnGridEditorDirective *ngIf="editCache[data.key].edit" [config]="col.editor.options" [value]="{key:data.key,name:col.editor.field,data:editCache[data.key].data[col.editor.field]}"
                                (updateValue)="userNameChange($event)">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="!col.editor">
                            {{data[col.field]}}
                        </ng-container>

                    </td>
                </ng-container>
            </tr>
        </ng-container>

    </tbody>
</nz-table>