<pro-header [title]=""></pro-header>
<div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="24">
        <nz-card>
         <!-- <ng-template #title><i class="icon icon-settings"></i>操作设置</ng-template>-->
            <ng-template #body>
                <form nz-form (ngSubmit)="_submitForm($event)" [nzLayout]="'inline'">
                    <div nz-form-item nz-row>
                        <div nz-form-label>
                            <label [attr.for]="'功能模块'">功能模块</label>
                        </div>
                        <div nz-form-control>
                            <nz-cascader [ngModelOptions]="{standalone: true}" [class.class123]="true" [nzOptions]="_funcOptions" [(ngModel)]="_funcValue"
                                (nzChange)="_changeModuleValue($event)" (nzSelectionChange)="_onSelectionChange($event)" [nzPlaceHolder]="'请选择功能模块'"
                                (nzLoad)="_loadLayoutData($event)" [nzExpandTrigger]="'hover'">
                            </nz-cascader>
                        </div>
                    </div>
                    <div nz-form-item nz-row>
                        <div nz-col nz-form-control>
                            <div nz-form-label>
                                <label [attr.for]="'布局'">模块布局列表</label>
                            </div>
                            <nz-select style="width:120px;" [(ngModel)]="_layoutNameValue" (ngModelChange)="_changeLayoutName($event)" [nzPlaceHolder]="'选择布局名称'"
                                [ngModelOptions]="{standalone: true}">
                                <nz-option *ngFor="let option of _layoutList" [nzLabel]="option.label" [nzValue]="option.value">
                                </nz-option>
                            </nz-select>
                        </div>
                    </div>

                </form>
            </ng-template>
        </nz-card>
    </div>

</div>
<div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8">
        <nz-card>
          <ng-template #title><i class="icon icon-settings"></i> 操作设置</ng-template>
            <nz-tree
              #tree
              [nzNodes]="nodes"
              [nzOptions]="options"
              (nzActivate)="onActivate($event)"
              [nzAutoExpandParent]="treeconfig.nzAutoExpandParent"
              [nzAllowChildLinkage]="treeconfig.nzAllowChildLinkage"
              [nzAllowParentLinkage]="treeconfig.nzAllowParentLinkage"
              [nzCheckable]="treeconfig.nzCheckable"
              [nzShowLine]="treeconfig.nzShowLine">
              <ng-template #nzTitle let-node>
                <span *ngIf="node.data.type === 'component'">
                  <i class="anticon anticon-file"></i> {{node.displayField}}
                </span>
                <span *ngIf="node.data.type === 'tabs'">
                  <i class="anticon anticon-tags-o"></i> {{node.displayField}}
                </span>
                <nz-dropdown [nzPlacement]="'bottomLeft'" *ngIf="node.data.type === 'tab'" [nzTrigger]="'click'">
                  <a href nz-dropdown>
                    <i class="anticon anticon-tag-o"></i>
                    {{node.displayField}}
                    <i class="anticon anticon-down"></i>
                  </a>
                  <ul nz-menu>
                    <li nz-menu-item (click)="showModal(node)"><i class="anticon anticon-plus"></i> 新建操作</li>
                  </ul>
                </nz-dropdown>
                <nz-dropdown [nzPlacement]="'bottomLeft'" *ngIf="node.data.type === 'operation'" [nzTrigger]="'click'">
                  <a href nz-dropdown>
                    <i class="anticon anticon-bars"></i>
                    {{node.displayField}}
                    <i class="anticon anticon-down"></i>
                  </a>
                  <ul nz-menu>
                    <li nz-menu-item>
                      <nz-popconfirm [nzTitle]="'确定要删除这个操作吗？'" (nzOnConfirm)="delOptConfirm(node)" (nzOnCancel)="delOptCancel()">
                        <a nz-popconfirm>
                          <i class="anticon anticon-plus"></i> 删除操作
                        </a>
                      </nz-popconfirm>

                    </li>
                  </ul>
                </nz-dropdown>
              </ng-template>
            </nz-tree>
        </nz-card>
    </div>
    <div nz-col [nzSpan]="16">
      <cn-layout-resolver [config]="_editorConfig"></cn-layout-resolver>
    </div>
</div>

<nz-modal [nzVisible]="isVisible"
          [nzTitle]="'输入操作名称'"
          [nzContent]="modalContent"
          (nzOnCancel)="handleCancel($event)"
          (nzOnOk)="handleOk($event)"
          [nzConfirmLoading]="_isConfirmLoading"
>

  <ng-template #modalContent>
    <input nz-input [(ngModel)]="_operationName"/>
  </ng-template>
</nz-modal>


